# Server Configuration
PORT=5000
NODE_ENV=development

# MongoDB Configuration
MONGO_URI=mongodb+srv://Mukul:YOUR_PASSWORD@cluster0.zgkpspr.mongodb.net/?appName=Cluster0

# App Configuration
APP_NAME=WebhookDeliverySystem


